*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff; }

p, ul, ol, table {
  margin-top: 0;
  margin-bottom: 16px; }

a {
  color: #0366d6;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25; }

h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1px solid #eaecef; }

h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1px solid #eaecef; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1em; }

hr, .rule {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dfe2e5; }

.page-header {
  border-bottom: 1px solid #eaecef; }
  .page-header .content-wrapper {
    position: relative;
    padding-left: 70px; }
  .page-header img.logo {
    position: absolute;
    left: 10px;
    height: 50px;
    width: 50px;
    vertical-align: middle; }
  .page-header h1 {
    border: none;
    margin: 10px 10px 5px 0;
    padding: 0; }
  .page-header h2 {
    color: #586069;
    font-size: 1em;
    font-weight: normal;
    border: none;
    margin: 0 10px 10px 0;
    padding: 0 0 0 2px; }

.content-wrapper {
  display: block;
  width: 100%; }

main {
  margin: 30px 10px 50px 10px; }

@media (min-width: 1024px) {
  .content-wrapper {
    max-width: 800px;
    margin: 0 auto; }
  main {
    margin-left: 30px; } }

button, input, select, textarea {
  font: inherit;
  margin: 0; }

button, input {
  overflow: visible; }

.form-control, .form-select {
  min-height: 34px;
  padding: 6px 8px;
  font-size: 16px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  outline: none;
  box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075); }

.form-group .form-control {
  width: 100%;
  margin-right: 5px;
  background-color: #fafbfc; }
  .form-group .form-control.short {
    width: 200px; }

label {
  font-weight: 600; }

dl.form-group {
  margin: 15px 0; }
  dl.form-group > dt {
    margin: 0 0 6px; }
  dl.form-group > dd {
    margin-left: 0; }

button, [type="button"], [type="reset"], [type="submit"], .btn {
  position: relative;
  display: inline-block;
  color: #24292e;
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  background-repeat: repeat-x;
  background-position: -1px -1px;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none; }
  button:disabled, button.disabled, [type="button"]:disabled, [type="button"].disabled, [type="reset"]:disabled, [type="reset"].disabled, [type="submit"]:disabled, [type="submit"].disabled, .btn:disabled, .btn.disabled {
    cursor: default;
    background-position: 0 0;
    color: rgba(36, 41, 46, 0.4);
    background-color: #eff3f6;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.2);
    box-shadow: none; }

.btn-primary {
  color: #fff;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058, #28a745 90%); }
  .btn-primary:disabled, .btn-primary.disabled {
    color: rgba(255, 255, 255, 0.75);
    background-color: #94d3a2;
    background-image: none;
    border-color: rgba(27, 31, 35, 0.2);
    box-shadow: none; }

@media (min-width: 768px) {
  .form-control, .form-select {
    font-size: 14px; } }

#home-page #build_url_form .slash {
  display: none; }

#home-page #build_url_form .btn {
  margin-top: 10px; }

#home-page .url-sample h4 {
  margin-top: 0;
  margin-bottom: 5px; }

#home-page .url-sample a {
  font-family: monospace; }

@media (min-width: 768px) {
  #home-page #build_url_form .form-group {
    float: left; }
  #home-page #build_url_form .slash {
    display: inline-block;
    float: left;
    margin: 45px 10px 0 8px;
    font-size: 21px;
    color: #586069; }
  #home-page #build_url_form .btn {
    float: left;
    margin: 45px 0 0 8px; } }

.float-left {
  float: left !important; }

.clearfix::before {
  display: table;
  content: ""; }

.clearfix::after {
  display: table;
  clear: both;
  content: ""; }

/*# sourceMappingURL=repo-health.css.map */