<dialog id="edit_dashboard_dialog" class="closed">
  <header class="dialog-header">
    <img class="logo" src="img/logo.png" alt="logo image">
    <h1>{{ site.title }}</h1>
    <h2>{{ site.description }}</h2>
  </header>
  <div class="dialog-body">
    <h3>Hi! 👋 Enter your GitHub username below to get started</h3>

    <form id="edit_dashboard_form">
      <div class="clearfix">
        <dl class="form-group">
          <dt class="input-label">
            <label autofocus="autofocus" for="repo_owner">GitHub Username</label>
          </dt>
          <dd>
            <input type="text" name="account_name" id="account_name"
              maxlength="100" autocapitalize="off" autocomplete="off" spellcheck="false" autofocus="autofocus"
              class="form-control short">
          </dd>
        </dl>

        <button type="submit" id="add_button" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>

  <footer class="dialog-footer">
    <button type="button" id="cancel_button" class="btn">Cancel</button>
    <button type="button" id="ok_button" class="btn btn-primary">Create My Dashboard</button>
  </footer>
</dialog>
