#account_list {
  .add-account {
    float: right;
    margin-right: $horizontal-space-medium;

    .form-group {
      display: inline-block;
    }

    .input-label {
      display: none;
    }
  }
}

@media (min-width: $tablet-min-width) {
  #account_list {
  }
}
