#account_list {
  margin: 0 $horizontal-space-small;

  &.no-accounts {
    display: none;
  }

  .account {
    margin-bottom: $vertical-space-large;

    header {
      .avatar {
        height: 50px;
        width: 50px;
        border: solid 3px white;
        border-radius: 10px;
        vertical-align: middle;
        margin-right: $horizontal-space-small;
      }
    }

    .loading {
      &:before {
        content: "";
        display: inline-block;
        height: 50px;
        width: 50px;
        background: url("../img/loading-spinner.gif") no-repeat;
        background-size: contain;
        vertical-align: middle;
        margin-right: $horizontal-space-small;
      }

      .loading-message {
        display: inline-block;
      }
    }

    .error {
      color: red;
      white-space: pre-wrap;
    }
  }
}

@media (min-width: $tablet-min-width) {
  #account_list {
    margin: 0;
  }
}
