main {
  margin: 30px 10px 50px 10px;
}

.content-wrapper {
  display: block;
  width: 100%;
}


@media (min-width: $tablet-min-width) {
  .content-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }

  main {
    margin-left: 30px;
  }
}
