main {
  margin: $vertical-space-large $horizontal-space-small;
  margin-bottom: ($vertical-space-large * 2);
}

.content-wrapper {
  display: block;
  width: 100%;
}


@media (min-width: $tablet-min-width) {
  .content-wrapper {
    max-width: 800px;
    margin: 0 auto;
  }
}
