@keyframes dialog-animation {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  40% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

dialog {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  border: none;

  &.open,
  &[open] {
    animation-name: dialog-animation;
    animation-duration: .5s;
  }

  &.closed,
  &:not([open]) {
    display: none;
  }

  + .backdrop,
  &::backdrop {
    position: fixed;
    z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    background: #fff;
  }

  .dialog-header {
    border-bottom: 1px solid $light-border;
    position: relative;
    padding-left: 70px;

    img.logo {
      position: absolute;
      left: 10px;
      top: 10px;
      height: 50px;
      width: 50px;
    }

    h1 {
      border: none;
      margin: 10px 10px 5px 0;
      padding: 0;
    }

    h2 {
      color: $darker-gray;
      font-size: 1em;
      font-weight: normal;
      border: none;
      margin: 0 10px 10px 0;
      padding: 0 0 0 2px;
    }
  }

  .dialog-body {
    flex: 1;
    padding: 30px 10px;
    overflow: auto;

    h3 {
      margin-top: 0;
    }
  }

  .dialog-footer {
    border-top: 1px solid $light-border;
    padding: 20px 10px 10px 0;
    text-align: right;

    .btn {
      margin-left: 10px;
    }
  }
}

@media (min-width: $tablet-min-width) {
  dialog {
    margin: 5% auto;
    max-height: 90%;

    max-width: 730px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
  }
}

@media (min-width: $monitor-min-width) {
  dialog {
    border: solid;
    border-radius: 10px;

    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;


    .dialog-header {
      padding: 30px 30px 10px 100px;

      img.logo {
        top: 40px;
        left: 40px;
      }
    }

    .dialog-body {
      padding: 30px;
    }

    .dialog-footer {
      padding: 20px;
    }

    + .backdrop,
    &::backdrop {
      background: rgba(0,0,0,0.3);
    }
  }
}
