@keyframes dialog-animation {
  from, 20%, 40%, 60%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  40% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

dialog {
  $logo-size: 50px;
  $dialog-horizontal-padding: $horizontal-space-small;
  $dialog-vertical-padding: $vertical-space-small;

  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: white;
  color: black;
  border: none;

  &.open,
  &[open] {
    animation-name: dialog-animation;
    animation-duration: .5s;
  }

  &.closed,
  &:not([open]) {
    display: none;
  }

  + .backdrop,
  &::backdrop {
    position: fixed;
    z-index: 1;
    top: 0; right: 0; bottom: 0; left: 0;
    background: #fff;
  }

  .dialog-header {
    position: relative;
    border-bottom: 1px solid $light-border;
    padding: $dialog-vertical-padding $dialog-horizontal-padding;
    padding-left: $logo-size + ($dialog-horizontal-padding * 2);
    padding-bottom: $dialog-vertical-padding * 2;

    img.logo {
      position: absolute;
      left: $dialog-horizontal-padding;
      top: $dialog-vertical-padding;
      height: $logo-size;
      width: $logo-size;
    }

    h1 {
      border: none;
      padding: 0;
      margin: 0;
      margin-bottom: $vertical-space-tiny;
    }

    h2 {
      color: $darker-gray;
      font-size: 1em;
      font-weight: normal;
      border: none;
      margin: 0;
      padding: 0 0 0 2px;
    }
  }

  .dialog-body {
    flex: 1;
    padding: $dialog-vertical-padding $dialog-horizontal-padding;
    overflow: auto;

    h3 {
      margin-top: 0;
    }
  }

  .dialog-footer {
    border-top: 1px solid $light-border;
    padding: $dialog-vertical-padding $dialog-horizontal-padding;
    padding-top: $dialog-vertical-padding * 2;
    text-align: right;

    .btn {
      margin-left: $horizontal-space-small;
    }
  }
}

@media (min-width: $tablet-min-width) {
  dialog {
    margin: 5% auto;
    max-height: 90%;

    max-width: 730px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
  }
}

@media (min-width: $monitor-min-width) {
  dialog {
    $logo-size: 50px;
    $dialog-horizontal-padding: $horizontal-space-large;
    $dialog-vertical-padding: $vertical-space-large;

    border: solid;
    border-radius: 10px;

    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;

    .dialog-header {
      padding-top: $dialog-vertical-padding;
      padding-left: $logo-size + $dialog-horizontal-padding + $horizontal-space-small;

      img.logo {
        top: $dialog-vertical-padding;
        left: $dialog-horizontal-padding;
      }
    }

    .dialog-body {
      padding: $dialog-vertical-padding $dialog-horizontal-padding;
    }

    .dialog-footer {
      padding-bottom: $dialog-vertical-padding;
      padding-right: $dialog-horizontal-padding;
    }

    + .backdrop,
    &::backdrop {
      background: rgba(0,0,0,0.3);
    }
  }
}
