#add_account_form {
  .form-group {
    margin-bottom: 0;
  }

  .input-field,
  .btn {
    float: left;
    vertical-align: middle;
  }

  .input-field {
    margin-right: $horizontal-space-tiny;
  }
}

#edit_account_list {
  display: flex;
  margin-top: $vertical-space-large;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    &.empty {
      display: none;
    }
  }

  .account-list {
    .account {
      > a {
        display: block;
        padding: $vertical-space-small $horizontal-space-small;
        color: $link-color;
        cursor: pointer;
      }

      &.selected {
        background-color: $light-gray;

        > a {
          color: $text-color;
          text-decoration: none;
        }
      }
    }
  }

  .repo-list {
    flex-grow: 1;
    padding-left: $horizontal-space-medium;

    .repo {
      padding: $vertical-space-small $horizontal-space-small;
    }
  }
}

@media (min-width: $tablet-min-width) {
  #add_account_form {
    .input-label {
      float: left;

      > label {
        vertical-align: middle;
      }
    }

    .input-label {
      margin-right: $horizontal-space-small;
    }
  }

  #edit_account_list {

  }
}

@media (min-width: $monitor-min-width) {
  dialog {
    min-width: 500px;
    max-width: 800px;
    height: auto;

    transition: min-height .75s;

    &.empty {
      min-height: 400px;
    }

    &:not(.empty) {
      min-height: 600px;
    }
  }
}
