#add_account_form {
  .form-group {
    margin-bottom: 0;
  }

  .input-field,
  .btn {
    float: left;
    vertical-align: middle;
  }

  .input-field {
    margin-right: $horizontal-space-tiny;
  }
}

#accounts_and_repos {
  display: flex;
  flex-direction: column;
  margin-top: $vertical-space-large;

  &.empty {
    display: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .account-list {
    display: none;
  }

  .avatar {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    vertical-align: middle;
    margin-right: $horizontal-space-small;
  }

  .repo-list-container {
    margin-bottom: $vertical-space-medium;

    .account-name {
      display: inline-block;
      min-height: 40px;
      margin-bottom: $vertical-space-medium;
      font-size: 1.2em;
      font-weight: 600;
      color: $text-color;
      text-decoration: none;
    }
  }

  .repo-list {
    &.loading {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: $horizontal-space-medium;

      .loading-message {
        background-image: url("../img/loading-spinner.gif");
        background-position: center left;
        background-repeat: no-repeat;
        background-size: 1.2em;
        font-size: 1.2em;
        padding-left: 1.5em;
      }
    }

    &.error {
      padding: $vertical-space-small $horizontal-space-small;

      .error-message {
        font-family: monospace;
        color: red;
        white-space: pre-wrap;
      }
    }

    .repo {
      padding: $vertical-space-small $horizontal-space-small;
    }
  }
}

@media (min-width: $tablet-min-width) {
  #add_account_form {
    .input-label {
      float: left;

      > label {
        vertical-align: middle;
      }
    }

    .input-label {
      margin-right: $horizontal-space-small;
    }
  }

  #accounts_and_repos {
    flex-direction: row;
    position: relative;
    left: -2px;

    &.multiple {
      header {
        display: none;
      }
    }

    &.one {
      .account-list {
        display: none;
      }
    }

    .account-list {
      display: unset;
      position: relative;
      left: 2px;
      padding-top: 10px;

      .account {
        border: solid 1px $bg-color;
        border-right: none;

        .account-name {
          display: inline-block;
          padding: $vertical-space-small $horizontal-space-small;
          color: $link-color;
          cursor: pointer;
          text-decoration: none;
        }

        &.selected {
          border: solid 1px $medium-gray;
          border-right: solid 3px $bg-color;
          border-top-left-radius: 5px;
          border-bottom-left-radius: 5px;
        }
      }
    }

    .repo-list-container {
      display: none;
      flex-grow: 1;
      min-height: 300px;

      &.selected {
        display: flex;
        flex-direction: column;
      }
    }

    .repo-list {
      flex-grow: 1;
      border: solid 1px $medium-gray;
      border-radius: 5px;
      padding-left: $horizontal-space-medium;

      &.loading {
        justify-content: center;
        padding: $vertical-space-small $horizontal-space-small;
      }

      .repo {
        padding: $vertical-space-small $horizontal-space-small;
      }
    }
  }
}

@media (min-width: $monitor-min-width) {
  dialog {
    min-width: 500px;
    max-width: 800px;

    transition: min-height .75s;

    &.empty {
      height: 400px;
    }

    &:not(.empty) {
      height: 700px;

      #accounts_and_repos {
        .account-list,
        .repo-list-container {
          height: 305px;
          margin: 0;
        }

        .account-list {
          overflow: hidden;
          overflow-y: auto;
        }

        .repo-list {
          overflow: hidden;
          overflow-y: auto;

          &.loading {
            align-items: center;
            margin-left: 0;
          }
        }
      }
    }
  }
}
