#first_time {
  position: relative;
  z-index: 1;
  transition: height 1s;
  background-color: $bg-color;

  &.has-accounts {
    height: 0;
    overflow: hidden;
  }

  .responsive-container {
    max-width: 500px;
  }
}
