#first_time {
  position: relative;
  z-index: 1;
  transition: height 1s;
  background-color: $bg-color;

  &.has-accounts {
    height: 0;
    overflow: hidden;
  }

  .responsive-container {
    max-width: 500px;
  }
}

@media (min-width: $tablet-min-width) and (min-height: 400px) {
  #first_time {
    margin-top: 100px;
  }
}

@media (min-width: $tablet-min-width) and (min-height: 500px) {
  #first_time {
    margin-top: 150px;
  }
}

@media (min-width: $tablet-min-width) and (min-height: 700px) {
  #first_time {
    margin-top: 250px;
  }
}
