.repo-list {
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 0;
  grid-row-gap: $vertical-space-large;
  list-style-type: none;
  margin: 0;
  padding: 0;

  .octicon {
    vertical-align: middle;
  }

  .repo {
    position: relative;
    padding: $vertical-space-small $horizontal-space-medium;

    .remove-repo {
      display: none;
      position: absolute;
      top: $vertical-space-small;
      right: $horizontal-space-medium;
      fill: $dark-gray;
    }

    &:hover {
      background-color: $lighter-gray;

      .remove-repo {
        display: inline-block;
      }
    }

    h2 {
      font-size: 1.2em;
      border-bottom: none;
      margin: 0;
      padding: 0;

      .octicon {
        margin-left: .5em;
      }

      .octicon-repo-forked {
        fill: $darker-gray;
      }

      .octicon-archive {
        fill: red;
      }
    }

    h3 {
      margin: 0;
      font-size: .9em;
      color: $dark-gray;
      border: none;
      margin: 0;
      padding: 0;
    }
  }

  .badges {
    margin-top: $vertical-space-small;
  }

  .badge {
    display: inline-block;
    font-size: 12px;
    color: $text-color;
    background-color: $medium-gray;
    border: solid 2px $medium-gray;
    border-radius: 5px;
    padding: 0 3px;
    margin-top: $vertical-space-tiny;
    margin-right: $horizontal-space-tiny;

    &:hover {
      text-decoration: none;
      background-color: $light-gray;
    }

    &.badge-warning {
      font-weight: 500;
      background-color: $warning-color;
      border-color: $warning-color;
      color: brown;
      fill: brown;

      &:hover {
        background-color: $warning-color-light;
      }
    }

    &.badge-error {
      font-weight: 500;
      background-color: $error-color;
      border-color: $error-color;
      color: white;
      fill: white;

      &:hover {
        background-color: $error-color-light;
      }
    }

    .badge-label {
      margin: 0 $horizontal-space-tiny;
    }

    .badge-count {
      font-weight: 500;
    }
  }
}


@media (min-width: $tablet-min-width) {
  .repo-list {
    grid-template-columns: 50% 50%;
    grid-column-gap: $horizontal-space-small;

    .repo {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: $vertical-space-small $horizontal-space-medium;

      h3 {
        flex-grow: 1;
      }
    }
  }
}


@media (min-width: $large-monitor-min-width) {
  .repo-list {
    grid-template-columns: 33% 33% 33%;
  }
}
