.responsive-container {
  position: relative;
  display: block;
  width: 100%;
  padding: $vertical-space-small;
}

@media (min-width: $tablet-min-width) {
  .responsive-container {
    width: 95%;
    margin: 0 auto;
  }
}

@media (min-width: $monitor-min-width) {
  .responsive-container {
    max-width: 1600px;
    margin: 0 auto;
  }
}
