$darker-gray: #586069;
$dark-gray: #babbbd;
$medium-gray: #dfe2e5;
$light-gray: #eaecef;
$lighter-gray: #f4f4f4;

$bg-color: #fff;
$text-color: #24292e;
$link-color: #0366d6;
$light-border: $light-gray;

$vertical-space-large: 30px;
$vertical-space-medium: 20px;
$vertical-space-small: 10px;
$vertical-space-tiny: 5px;

$horizontal-space-large: 30px;
$horizontal-space-medium: 20px;
$horizontal-space-small: 10px;
$horizontal-space-tiny: 5px;

$tablet-min-width: 768px;
$monitor-min-width: 1024px;
