$darker-gray: #484848;
$dark-gray: #babbbd;
$medium-gray: #dfe2e5;
$light-gray: #eaecef;
$lighter-gray: #f4f4f4;

$medium-blue: #0366d6;

$warning-color: #f3e98a;
$warning-color-light: lighten($warning-color, 10%);

$error-color: #e97580;
$error-color-light: lighten($error-color, 10%);

$info-color: $medium-blue;
$info-color-light: lighten($info-color, 10%);

$bg-color: #fff;
$text-color: #24292e;
$link-color: $medium-blue;
$light-border: $light-gray;

$vertical-space-large: 30px;
$vertical-space-medium: 20px;
$vertical-space-small: 10px;
$vertical-space-tiny: 5px;

$horizontal-space-large: 30px;
$horizontal-space-medium: 20px;
$horizontal-space-small: 10px;
$horizontal-space-tiny: 5px;

$tablet-min-width: 768px;
$monitor-min-width: 1024px;
$large-monitor-min-width: 1300px;
