$darker-gray: #586069;
$dark-gray: #babbbd;
$medium-gray: #dfe2e5;
$light-gray: #eaecef;
$lighter-gray: #f4f4f4;

$medium-blue: #0366d6;

$warning-color: #f1e150;
$warning-color-light: #fff597;

$error-color: #dc3545;
$error-color-light: #f88591;

$bg-color: #fff;
$text-color: #24292e;
$link-color: $medium-blue;
$light-border: $light-gray;

$info-color: $medium-blue;
$info-bg-color: transparentize($info-color, .9);

$error-color: red;
$error-bg-color: transparentize($error-color, .9);

$vertical-space-large: 30px;
$vertical-space-medium: 20px;
$vertical-space-small: 10px;
$vertical-space-tiny: 5px;

$horizontal-space-large: 30px;
$horizontal-space-medium: 20px;
$horizontal-space-small: 10px;
$horizontal-space-tiny: 5px;

$tablet-min-width: 768px;
$monitor-min-width: 1024px;
$large-monitor-min-width: 1300px;
