#home-page {
  #build_url_form {
    .slash {
      display: none;
    }

    .btn {
      margin-top: 10px;
    }
  }

  .url-sample {
    h4 {
      margin-top: 0;
      margin-bottom: 5px;
    }

    a {
      font-family: monospace;
    }
  }
}

@media (min-width: $tablet-min-width) {
  #home-page {
    #build_url_form {
      .form-group {
        float: left;
      }

      .slash {
        display: inline-block;
        float: left;
        margin: 45px 10px 0 8px;
        font-size: 21px;
        color: #586069;
      }

      .btn {
        float: left;
        margin: 45px 0 0 8px;
      }
    }
  }
}
